<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/documentation.css">
    <link rel="stylesheet" href="/static/global.css">
</head>
<body>
        <div class="navdiv">
            <div class="navdiv-part1">
                <img src="/static/images/Driveechock.svg" class="site-logo">
            </div>
            <div class="navdiv-part2">
                <div class="navdiv-row2">
                    <button class="navdiv-row-button 4">Анализ данных</button>
                    <button class="navdiv-row-button 5">Прогноз</button>
                    <button class="navdiv-row-button 6">API документация</button>
                </div>
            </div>
        </div>
        <div id="doc-div">
            <div id="doc">

            </div>
        </div>
</body>
</html>