<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/global.css">
</head>
<body>
        <div class="navdiv">
            <div class="navdiv-part1">
                <img src="/static/images/Driveechock.svg" class="site-logo">
            </div>
            <div class="navdiv-part2">
                <div class="navdiv-row2">
                    <button class="navdiv-row-button 4"><a href="">Анализ данных</a></button>
                    <button class="navdiv-row-button 5"><a href="">Прогноз</a></button>
                    <button class="navdiv-row-button 6"><a href="">API документация</a></button>
                </div>
            </div>
        </div>
    <main id="main-main">
        <div id="zagalovok-ebana-naxuy-epta">
            <h1 class="text head-text-main">О проблеме</h1>
        </div>
        <div class="main-div">
            <p class="text paragraph-text-main">
                Перед водителем стоит сложный выбор: предложить консервативную цену и гарантированно, но мало заработать, либо рискнуть с высокой ценой, получив максимум прибыли, но с вероятностью полностью потерять заказ. Суть дилеммы в отсутствии данных для точного расчета оптимального баланса между ценой и шансом того, что пассажир согласится именно на его предложение.
            </p>
        </div>
    </main>
</body>
</html>