<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict</title>
    <link rel="stylesheet" href="/static/predict.css">
    <link rel="stylesheet" href="/static/global.css">
</head>
<body>
        <div class="navdiv">
            <div class="navdiv-part1">
                <img src="/static/images/Driveechock.svg" class="site-logo">
            </div>
            <div class="navdiv-part2">
                <div class="navdiv-row2">
                    <button class="navdiv-row-button 4">Анализ данных</button>
                    <button class="navdiv-row-button 5">Прогноз</button>
                    <button class="navdiv-row-button 6">API документация</button>
                </div>
            </div>
        </div>
        <div id="predict-main">
            <div id="settings">























                <div id="order">
                    <div id="zagalovok">
                        <h1 class="text predict-text">
                            Заказ №
                        </h1>
                    </div>
                    <div id="first-row">
                        <p class="text first-text-pred">
                            Откуда:
                        </p>
                        <p class="text second-text-pred">
                            Предложенная цена:
                        </p>
                    </div>
                    <div id="second-row">
                        <p class="text first-text-pred">
                            Куда:
                        </p>
                        <p class="text second-text-pred">
                            Время подачи:
                        </p>
                    </div>
                </div>














































                <div id="rec">
                    <div id="zagalovok2">
                        <h1 class="text recommendations-text">
                            Рекомендации
                        </h1>
                    </div>
                    <div class="card" id="card1">

                    </div>
                    <div class="card" id="card2">

                    </div>
                    <div class="card" id="card3">

                    </div>
                </div>
























                <div id="pred">
                    <div id="paramet">
                        <div id="row">
                            <p id="ver" class="text text-row">
                                Вероятность принятия:
                            </p>
                            <p id="inc" class="text text-row">
                                Доходность:
                            </p>
                        </div>
                        <div id="inp-ran">
                            <input type="text" id="input-text">
                            <input type="range" id="rang" min="0" max="100" value="50">

                        </div>
                    </div>
                    <div id="price">
                        <div id="price-itog">
                            <h1 class="text price-text">300 руб.</h1>
                        </div>
                        <div id="button-div">
                            <button id="button">
                                Предложить цену
                            </button>
                        </div>
                    </div>
                </div>






















            </div>
        </div>
</body>
</html>