<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict</title>
    <link rel="stylesheet" href="/static/predict.css">
    <link rel="stylesheet" href="/static/global.css">
</head>
<body>
        <div class="navdiv">
            <div class="navdiv-part1">
                <img src="/static/images/Driveechock.svg" class="site-logo">
            </div>
            <div class="navdiv-part2">
                <div class="navdiv-row2">
                    <button class="navdiv-row-button 4"><a href="">Анализ данных</a></button>
                    <button class="navdiv-row-button 5"><a href="">Прогноз</a></button>
                    <button class="navdiv-row-button 6"><a href="">API документация</a></button>
                </div>
            </div>
        </div>

        

        <div id="predict-main">

                <div id="menu-toggle-container">
                    <button id="menu-toggle-btn">

                    </button>
                </div>
            <div id="settings" class="settings">
                <div id="order">
                    <div id="zagalovok">
                        <h1 class="text predict-text">
                            Заказ №
                        </h1>
                    </div>
                    <div id="first-row">
                        <p class="text first-text-pred">
                            Откуда:
                        </p>
                        <p class="text second-text-pred">
                            Предложенная цена:
                        </p>
                    </div>
                    <div id="second-row">
                        <p class="text first-text-pred">
                            Куда:
                        </p>
                        <p class="text second-text-pred">
                            Время подачи:
                        </p>
                    </div>
                </div>
                <div id="rec">
                    <div id="zagalovok2">
                        <h1 class="text recommendations-text">
                            Рекомендации
                        </h1>
                    </div>

                    <button class="card" id="card1" type="button"></button>
                    <button class="card" id="card2" type="button"></button>
                    <button class="card" id="card3" type="button"></button>

                </div>
                <div id="pred">
                    <div id="paramet">
                        <div id="row">
                            <p id="ver" class="text text-row">
                                Вероятность принятия:
                            </p>
                            <p id="inc" class="text text-row">
                                Доходность:
                            </p>
                        </div>
                        <div id="inp-ran">
                            
                            <input type="range" id="rang" min="0" max="100" value="50">

                        </div>
                    </div>
                    <div id="price">
                        <div id="price-itog">
                            <h1 class="text price-text">300 руб.</h1>
                        </div>
                        <div id="button-div">
                            <button id="button">
                                Предложить цену
                            </button>
                        </div>
                    </div>
                </div>
                <!--  -->
            </div>
            
        </div>
            
    <script src="/static/js/predict.js"></script>
</body>
</html>